.item-category{    
    border: 1px solid aqua;
    margin-bottom: 15px;
}

.table-row {
    
}

.table-row:hover {
    background-color: #CCC;
    cursor: pointer;
}

.item-category__name {
    font-weight: bold;
}